@using Microsoft.AspNet.Identity;
@model DH_Blog.Models.BlogPost


<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.Raw(Model.BlogPostBody)
            </div>
        </div>
    </div>
</article>
<hr style="border:2px solid black;" />

@if (User.Identity.IsAuthenticated)
{

    <div id="addComment">
        <div class="col"><h4>Leave a Comment?</h4></div>
        @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            @Html.Hidden("BlogPostId", Model.Id);

            <div class="col-md-6">
                @Html.Editor("CommentBody", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("CommentBody", "", new { @class = "text-danger" })
                <button type="submit" class="btn allButtons">Add</button>
            </div>
        }
    </div>
}
<hr style="border:2px solid black;" />

@foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true, "", new { @class = "text-danger" });
    <div class="container" mt-3>
        <div class="media">
            <img src="~/IMGs/blank-user.png" class="align-self-start mr-3" style="width:50px;height:50px" />
            <div class="media-body" style="border:1px solid cadetblue; padding:10px 20px 10px 20px">
                <div class="row" style="max-height:15px">
                    <div class="col-md-7">
                        <span style="font-size:16px">by @comment.Author.Email</span>
                    </div>
                    <div class="col-md-2 d-flex justify-content-end" style="font-size:14px">
                        @if (User.IsInRole("Admin") || User.IsInRole("Moderator")
                            || User.Identity.GetUserId() == comment.AuthorId)
                        {
                            // these two buttons direct you to their Views and after they send you to the Index of comments
                            // i would rather they open in a modal and not redirect while a jQuery(?) updates the page
                            <div class="col d-flex justify-content-end">
                                @Html.ActionLink("Edit", "Edit", "comments", new { id = comment.Id }, null)
                            </div>
                            <div class="col d-flex justify-content-end">
                                @Html.ActionLink("Delete", "Delete", "comments", new { id = comment.Id }, null)
                            </div>
                        }
                    </div>
                    <div class="col-md-3 d-flex justify-content-end" style="font-size:14px">
                        @comment.Created.ToString("MM/dd/y | hh:mm:ss tt")
                    </div>
                </div>
                <hr />
                @Html.Raw(comment.CommentBody)
                @if (comment.UpdateReason != null)
                {
                    <hr />
                    // this section isn't working as intended and i will need to ask the boss man how to get it to do so
                    // my suspicion is that i need to set this on the edit page to carry over to the post to be static
                    if ((User.IsInRole("Admin") || User.IsInRole("Moderator")) && User.Identity.GetUserId() == comment.AuthorId )
                    {
                        <div class="col" style="background-color:khaki; font-size:16px">
                            Comment Moderated:
                            <i> @comment.UpdateReason</i>
                        </div>
                    }
                    else if (User.Identity.GetUserId() == comment.AuthorId)
                    {
                        <div class="col" style=" font-size:16px">
                            Comment Edited:
                            <i> @comment.UpdateReason</i>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript">
        $(function () {
            tinymce.init({
                selector: '#CommentBody'
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Set background image of a div on load
            var imageUrl = '@Model.ImagePath', PstTitle = '@Model.Title', AbsTxt = '@Model.Abstract';
            if (imageUrl != ''){
                $(".masthead").css("background-image", "url(" + imageUrl + ")");
            }
            $('#topText').text(PstTitle);
            $('#subText').text(AbsTxt);
        });
    </script>

}