@using DH_Blog.Models
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<BlogPost>

<link href="~/Content/PagedList.css" rel="stylesheet" />

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="col d-flex justify-content-end">
                <p>Search the Blogs for key words.</p>
            </div>
            <div class="col d-flex justify-content-end">
                @using (Html.BeginForm("Index", "Home", FormMethod.Get, htmlAttributes: new { @class = "form" }))
                {

                    <div class="controls controls-row search-row">
                        <input id="searchStr" name="searchStr" class="input-block-level" type="text"
                               placeholder="Search" style="padding:5px">
                <button id="searchstr" name="searchstr" class="btn allButtons" type="submit">
                    <i>Search</i>
                </button>
                    </div>
                }
            </div>
            <hr />
            @foreach (var blogPost in Model.OrderByDescending(b => b.Created))
            {
                <div class="post-preview">
                    <div class="row">
                        @if (blogPost.ImagePath != null)
                        {
                            <div class="col-3 d-flex justify-content-end">
                                <img style="width:115px; height:115px" src="@blogPost.ImagePath " alt="" />
                            </div>
                        }
                        <div class="col-9">
                            <a href=@Url.Action("Details","BlogPosts",new {slug = blogPost.Slug})>
                                <h2 class="post-title">
                                    @blogPost.Title
                                </h2>
                                <h4 class="post-subtitle">
                                    @blogPost.Abstract
                                </h4>
                            </a>
                        </div>
                    </div>
                    <p class="post-meta" style="padding-left:30px">
                        Posted by
                        @Html.ActionLink("Daniel Hebbard", "About", "Home")
                        on @blogPost.Created.ToString("MMM dd, yyyy")
                    </p>
                </div>
                <hr>
            }
            <div class="col">
                <div class="col d-flex justify-content-end">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>
                <div class="col d-flex justify-content-end">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{

}
